<div class="container">
<form [formGroup]="employeeForm" (ngSubmit)="OnSubmit()">
    <div class="form-group">
        <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>        
          <input type="text" class="form-control" formControlName="name"  id="name" value="email@example.com">        
      </div>
    <div class="form-group">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <input type="text" class="form-control" formControlName="email"  id="email" value="email@example.com">
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <input type="text" class="form-control" formControlName="password" id="Password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submmit</button>
  </form>
</div>
<div class="container">
  <label for="staticEmail" class="col-sm-2 col-form-label">Json Data</label>        
  <div *ngFor='let jsondata of jsonData'>
    <input type="checkbox" nam="{{jsondata.id}}" [Value]="jsondata.id" (change)="getJsonDatId($event,jsondata.id)">{{jsondata.title}}
  </div>        

</div>
